<!DOCTYPE html>
<html ng-app="infographica">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <title>Infographica</title>
        
        <link rel="stylesheet" href="assets/bower/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/stylesheets/style.css" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <header ui-view="navigation"></header>
                <main ui-view="main">
                    <h1>Infographica</h1>
                    <p>Welcome to Infographica</p>
                </main>
            </div>
        </div>
        <script src="assets/bower/angular/angular.min.js"></script>
        <script src="assets/bower/angular-ui-router/release/angular-ui-router.min.js"></script>
        <!--<script src="assets/bower/angular-aria/angular-aria.js"></script>-->
        <!--<script src="assets/bower/angular-animate/angular-animate.js"></script>-->
        <!--<script src="assets/bower/angular-material/angular-material.js"></script>-->
        <script src="assets/bower/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
        <!--<script src="assets/bower/bootstrap/dist/js/bootstrap.min.js"></script>-->
        <script src="assets/bower/angular-file-upload/dist/angular-file-upload.min.js"></script>
        
        
        <script src="assets/javascripts/source.js"></script>
        
        <!--<script src="angular.core.js"></script>
        <script src="angular.routes.js"></script>
        
        <script src="modules/directives/engine.js"></script>
        <script src="modules/directives/posts.js"></script>
        <script src="modules/directives/post.js"></script>
        <script src="modules/directives/canvas.js"></script>
        
        <script src="modules/controllers/main.js"></script>
        <script src="modules/controllers/administrator.js"></script>
        <script src="modules/controllers/addpost.js"></script>
        
        <script src="modules/factories/data.js"></script>
        <script src="modules/factories/alert.js"></script>-->
    </body>
</html>
